body{
    text-align:center;
    margin-left:300px;
    margin-right:300px;
}
.top_header {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    gap:20px;
    color:white;
}
#language-select{
    background-color:blue ;
    color:white;
    border-color:blue;
}
header{
    background-color: blue;
}
.main_name{
    color:lightcoral;
    text-align: left;
    margin-left: 10px;
}
.nav_menu{
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    gap:20px;
    margin-bottom:20px;
}
.search-form {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    gap: 0px; 
    align-items: flex-end; 
  }
  
  .form-group {
    flex: 3; 
   margin:10px;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
 
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column; 
    }
  
    .form-group {
      min-width: 100%; 
    }
  }