.top_header {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    gap:20px;
}
header{
    background-color: blue;
}
.nav_manu{
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    gap:20px;
}
button {
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: lightblue; 
    color: white; 
    border: none; 
    cursor: pointer; 
  
  .button:hover {
    background-color: white; /* Меняем цвет фона при наведении */
  }